/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Poppins&display=swap');

/*CSS Reset*/
html, body, header, main, nav, section, div, article, footer, h1, h2, h3, p, a, ul, li, img, button, figure, figcaption, span{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*CSS Reset*/


:root{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    --text-color: #8F8F8F;
    --ui-title-color: #FFFFFF;
    --text-ui-brand-color: #D6FB00;
    --ui-light-accent-color: #dcdcdc;
    --background-color: #191919;
    --background-modal-color: rgba(0, 0, 0, 0.7);
    --additional-background-modal-color: rgba(116, 116, 116, 0.11);
    --additional-background-color: rgba(143, 143, 143, 0.05);
    --additional-text-color: rgb(220, 220, 220);
    --additional-p-color: rgb(169, 169, 169);
    --button-text-color: rgb(25, 25, 25);
}
body{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--background-color);
}

body.lock {
    overflow: hidden;
}

h1{
    color: var(--ui-title-color);
}

img {
    display: block;
    width: 100%;
}
