section.get-class {
    display: grid;
    justify-content: center;
    background-color: #191919;
    padding-top: 70px;
    padding-bottom: 35px;
}

.container__get-class {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1150px;
    align-items: center;
    gap: 35px;
}

@media (min-width: 560px) {
    .container__get-class {
        grid-template-columns: 1fr 1fr;
    }
}

.get-class-header__title {
    font-family: 'Kanit', sans-serif;
    font-size: 46px;
    color: var(--ui-title-color);
    font-weight: 700;
}

.get-class__schedule {
    margin: auto 0;
}

.get-class__schedule-text {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 17px;
}

.get-class__schedule-yellow {
    color: var(--text-ui-brand-color);
}

.get-class__email-text {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    color: var(--text-color);
}

.get-class__email-value {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    color: var(--text-ui-brand-color);
}

.get-class__email-value:hover {
    color: var(--ui-title-color);
}

.container__get-class-tel {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    text-align: center;
}

.container__get-class-tel .get-class__tel-text {
    color: var(--text-color);
}

.container__get-class-tel .get-class__tel-value {
    color: var(--text-ui-brand-color);
}

.container__get-class-tel .get-class__tel-value:hover {
    color: var(--ui-title-color);
}

.getclass-images-slideshow {
    width: 100% position: relative;
    margin: auto;
}

.getclass-mySlides {
    display: none;
    vertical-align: middle;
}

.getclass-dots-slideshow {
    text-align: center
}

.getclass-dot {
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--text-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.getclass-dot.active {
    background-color: var(--text-ui-brand-color);
}

.getclass-imageSlides.fade {
    animation-name: fade;
    animation-duration: 2.9s;
}

@keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}