section.group-training {
    display: grid;
    justify-content: center;
    background-color: #191919;
    margin: 0;
    padding: 35px;
}

.container__group-training {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 980px;
    align-items: center;
}

@media (min-width: 560px) {
    .container__group-training { 
        grid-template-columns: 1fr 1fr;
    }
}

ul {
    list-style: none;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: var(--text-ui-brand-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.group-training__title {
    font-family: 'Kanit', sans-serif;
    font-size: 46px;
    color: var(--ui-title-color);
    font-weight: 700;
}

.group-training__slogan {
    font-family: 'Kanit', sans-serif;
    font-size: 19px;
    color: var(--ui-title-color);
}

.group-training__text {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    color: var(--text-color);
}

.group-training__list {
    margin: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    color: var(--ui-title-color);
}