section.group-training {
    display: grid;
    justify-content: center;
    background-color: #191919;
    padding-top: 35px;
}

.group-training__pic {
    min-width: 320px;
}

.container__group-training {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    align-items: center;
    gap: 35px;
}

@media (min-width: 560px) {
    .container__group-training {
        grid-template-columns: 1fr 1fr;
    }
}

ul.group-training__list {
    list-style: none;
}

ul.group-training__list li::before {
    content: "\2022";
    color: var(--text-ui-brand-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.group-training__title {
    font-family: 'Kanit', sans-serif;
    font-size: 46px;
    color: var(--ui-title-color);
    font-weight: 700;
}

.group-training__slogan {
    font-family: 'Kanit', sans-serif;
    font-size: 21px;
    color: var(--ui-title-color);
}

.group-training__text {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 17px;
}

.group-training__list {
    margin: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    color: var(--ui-title-color);
}