.latest__articles_section{
    background-image: url(../img/bg-image-latest-artcl.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.latest__articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.first__acticle__el{
    min-width: 300px;
    max-width: 400px;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.second__acticle__el{
    min-width: 300px;
    max-width: 400px;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.third__acticle__el{
    min-width: 300px;
    max-width: 400px;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.latest__articles__main_title{
    font-family: 'Kanit', sans-serif;
    color: var(--ui-title-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 30px;
}
.latest__article__caption{
    color: var(--ui-title-color);
    font-size: 14px;
}
.latest__articles__title{
    color: var(--text-ui-brand-color);
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
}

.latest__articles__text{
    color: var(--text-color);
    flex-grow: 1;
}

.latest__articles__image{
    width: 100%;
    height: auto;
}

.latest__article__link{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--ui-title-color);
}

/*Responsive*/
/*Mobile S*/
@media (max-width: 320px){
    body{
        padding: 0;
    }
    .latest__articles_section{
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
    .latest__articles{
        flex-direction: column;
        max-width: 100%;
    }
    .first__acticle__el{
        max-width: 100%;
    }
    .second__acticle__el{
        max-width: 100%;
    }
    .third__acticle__el{
        max-width: 100%;
    }
}
/*Mobile M*/
@media (max-width: 375px){
    .latest__articles_section{
        justify-content: center;
        align-items: center;
        max-width: 375px;
    }
}
/*Mobile L*/
@media (max-width: 425px){
    .latest__articles_section{
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }
    
}
/*Tablet*/
@media (max-width: 850px){
    .latest__articles_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        gap: 30px;
    }
    .third__acticle__el{
        margin-top: 30px;
    }
}

@media (max-width: 1000px){
    .latest__articles_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        gap: 30px;
        margin: 0 auto;
    }
    .latest__articles__main_title{
        align-self: flex-start;
    }
    .third__acticle__el{
        margin-top: 30px;
    }
}

