.latest__articles__title{
    color: var(--text-ui-brand-color);
    text-transform: uppercase;
    font-family: 'Kanin', sans-serif;
    font-size: 24px;
}

.latest__articles__text{
    color: var(--text-color);
}

.latest__articles__image{
    height: 220px;
    width: 295px;
}

.latest__article__link{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}