/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--background-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-content h2 {
    display: flex;
    justify-content: center;
    color: var(--ui-title-color);
  }

  .header__modal-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  
  .header__modal-button {
    display: flex;
    justify-content: center;
    margin: 20px 50% !important;
    font-size: 17px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    text-align: left;
    cursor: pointer;
    width: 190px;
    height: 20px;
    top: 20px;
    align-items: center;
    /* margin: 0; */
    padding: 25px 30px 25px 30px;
    border: #d6fb00;
    background-color: #d6fb00;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }