.main__our-classes {
     background-image: url(../img/classes.svg);  
     background-repeat:no-repeat ;
     margin: auto;
}

   .main__container {
      min-width: 320px;
      max-width: 1200px;
      color: #fff;
      margin: auto;
}

.main__header-our-classes {
     text-align: center; 
     margin: 200px auto 0;
}

.main__title {
     font-size: 53px;
     line-height: 1.1;
     letter-spacing: .02em;
     font-family: Kanit,sans-serif;
     margin: 0 auto 20px;
}

.main__subtitle {
     font-size: 20px;
     font-weight: 400;
     color:  #dcdcdc; 
}

.main__picture-ball-subtitle, .main__picture-ropes-subtitle, 
.main__picture-barbell-subtitle, .main__picture-stationary-bikes-subtitle{
     color: #d6fb00;
     margin-top: 30px ;
     font-size: 24px;
     line-height: 1.4;
     font-family: Kanit,sans-serif;
     font-weight: 700;
     font-style: normal;
     letter-spacing: 0;
     text-transform: uppercase;
}

.main__picture-ball-text, .main__picture-ropes-text, 
.main__picture-barbell-text, .main__picture-stationary-bikes-text {
    color:#707070;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: .05em;
    width: 255px; 
}

.main__accordion {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px ;
}

.main__picture-ball, .main__picture-ropes, 
.main__picture-barbell, .main__picture-stationary-bikes {
    width: 230px;
    height: 300px;  
    object-fit: cover;
}

.main__picture-ball-vertical-line, 
.main__picture-ropes-vertical-line, 
.main__picture-barbell-vertical-line, 
.main__picture-stationary-bikes-vertical-line{
    height: 14px;
    border: 0;
    border-left: 2px solid ;
    position: relative;
    bottom: 42px;
    left: 235.5px;
    cursor: pointer;
    color:#dcdcdc;
}

.main__picture-ball-horisontal-line, 
.main__picture-ropes-horisontal-line, 
.main__picture-barbell-horisontal-line, 
.main__picture-stationary-bikes-horisontal-line{
    width: 15px;
    border: 0;
    border-top:2px solid ;
    position: relative;
    bottom: 25px;
    left: 108.4px;
    cursor: pointer;
    color: #dcdcdc;
}

.main__text-button {
    font-size: 17px;
    font-family: Poppins,sans-serif;
    display: flex;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    width: 190px;
    height: 20px;
    top: 20px;
    align-items: center;
    margin: 0 auto 100px;
    padding: 25px 30px 25px 30px;
    border:#d6fb00;
    background-color: #d6fb00; 
}

.main__text-button{
    transition-duration: .5s;
}

.main__text-button:hover {
    background-color: #fff;
    color: black;
}

.button__right-arrow {
    width: 20px;
    margin-right: 5px;
}

@media (max-width:1050px) {
    .main__accordion { 
        display: grid;
        grid-template-columns: 1fr 1fr;
         
    }    
    .main__picture-ball, .main__picture-ropes, 
    .main__picture-barbell, .main__picture-stationary-bikes {            object-fit: cover;
        margin: auto;
    }

    .main__container {
        max-width: 1200px;
        margin: auto;
    }

    .main__picture-ball-subtitle, .main__picture-ropes-subtitle, 
    .main__picture-barbell-subtitle, .main__picture-stationary-bikes-subtitle {
        text-align:center;
        margin: 30px 130px 0 0 ;
    }

    .main__picture-ball-text, .main__picture-ropes-text, 
    .main__picture-barbell-text, .main__picture-stationary-bikes-text {
        margin: auto;
        width: 220px;
    }

    .main__picture-ball-vertical-line, 
    .main__picture-ropes-vertical-line, 
    .main__picture-barbell-vertical-line, 
    .main__picture-stationary-bikes-vertical-line {
       text-align: center;
       position:relative;
       left: 108px;
       width: 0;
    }

@media (max-width:600px){
    .main__accordion {
        display: grid;
        grid-template-columns: 1fr;
    }   

    .main__picture-ball, .main__picture-ropes, 
    .main__picture-barbell, .main__picture-stationary-bikes {
        object-fit: cover;
        margin: auto;
}

}

    .main__button {
       align-items: center;
       margin: 70px auto;
    }

    .main__picture-ball-text, .main__picture-ropes-text, 
    .main__picture-barbell-text, .main__picture-stationary-bikes-text {
    margin: auto;
    width: 230px;
 }

.main__container {
    max-width: 1200px;
    margin: auto;
}
   
}

