.main__our-classes {
    background-image: url(../img/classes.svg);  
}

.main__container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
}

.main__header-our-classes {
    text-align: center; 
}

.main__title {
    line-height: 1.1;
    letter-spacing: .02em;
    font-family: Kanit,sans-serif;
    margin: 100px auto 35px;
}

.main__subtitle {
    font-size: 19px;
    font-weight: 400;
    color:  #dcdcdc;
}

.main__picture-ball-subtitle, .main__picture-ropes-subtitle, 
.main__picture-barbell-subtitle, .main__picture-stationary-bikes-subtitle{
    color: #d6fb00;
}

.main__picture-ball-text, .main__picture-ropes-text, 
.main__picture-barbell-text, .main__picture-stationary-bikes-text {
   color:#707070;
   font-size: 20px;
}

.main__accordion {
    display: flex;
    margin: 100px auto; 
    gap: 85px; 
}

.main__picture-ball, .main__picture-ropes, 
.main__picture-barbell, .main__picture-stationary-bikes {
    width: 230px;
    height: 300px; 
    object-fit: cover;   
}

.main__text-button {
    background-color: #d6fb00;
   
}

.main__button {
    margin: 0 auto;
}