section.personal__training{
    display: grid;
    justify-content: center;
    background-color: #191919;
    margin: 0;
    padding: 35px;
}
.main_header{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 980px;
    align-items: center;
}
@media (min-width: 560px) {
    .container__group-training { 
        grid-template-columns: 1fr 1fr;
    }
}

ul {
    list-style: none;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: var(--text-ui-brand-color);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.main__title {
    font-family: 'Kanit', sans-serif;
    font-size: 38px;
    color: var(--ui-title-color);
}

.main__subtitle {
    font-size: 19px;
    color: #DCDCDC;
}

.main__text-block {
    font-size: 17px;
}

.main__text-button-2 {
    font-size: 15px;
}

.main__picture-title-benefits {
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
}