    .personal__training {
        display: flex;
        background-color: #191919;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        gap: 80px;
       
    }

    .main__header {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        gap: 20px;

    }

    .main__img {
    max-width: 100%;
    height: auto;
    }

    .main__button-2 {
        border: solid #FFFFFF;
        border-radius: 2px;
        background-color: #191919;
        font-size: 15px;
        color: #FFFFFF;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        text-align: center;
        padding: 12px 25px;
        cursor: pointer;
        width: 200px;
        height: 50px;
    }

    .main__button-2:hover {
        background-color: #FFFFFF;
        color: black;
    }

    .main__benefits-section {
        display: flex;
        flex-direction: row;
        background-color: #191919;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 100px;
    }
.main__benefits{
    display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        gap: 20px;
        width: 250px;
        overflow-wrap: break-word;
      
}
    @media (min-width: 560px) {
        .main__header {
            grid-template-columns: 1fr;
        }
    }

    .benefits-icon {
        width: 50px;
        height: 50px;

    }

    .main__title-2 {
        font-family: 'Kanit', sans-serif;
        font-size: 46px;
        color: var(--ui-title-color);
        font-weight: 700px;
        text-align: left;
        line-height: 50px;
        letter-spacing: 2px;
    }

    .main__subtitle {
        font-size: 19px;
        color: #dcdcdc;
        font-family: 'Kanit', sans-serif;
    }

    .main__text-block {
        font-size: 17px;
        font-family: 'Kanit', sans-serif;
        color: #8f8f8f;
        width: 450px;
    }

    .main__text-button-2 {
        font-size: 15px;
    }

    .main__picture-title-benefits {
        font-family: 'Kanit', sans-serif;
        font-size: 21px;
        color: white;
        text-align: left;
        font-stretch: 100%;
    }
    .main__text-block-benefits{
        font-family: 'Poppins', sans-serif;
        color: var(--text-color);
        font-size: 17px;

    }