    .personal__training {
        display: flex;
        background-color: #191919;
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .main__header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main__button-2 {
        border: 2px solid #FFFFFF;
        border-radius: 0px;

    }

    .main__button-2:hover {
        width: 209px;
        height: 51px;
    }

    .main__benefits-section {
        display: flex;
        flex-direction: row;
        background-color: #191919;
    }

    .benefits-icon {
        width: 50px;
        height: 50px;
    }



    .main__title {
        font-family: 'Kanit', sans-serif;
        font-size: 38px;
        color: var(--ui-title-color);
    }

    .main__subtitle {
        font-size: 19px;
        color: #DCDCDC;
    }

    .main__text-block {
        font-size: 17px;
    }

    .main__text-button-2 {
        font-size: 15px;
    }

    .main__picture-title-benefits {
        font-family: 'Kanit', sans-serif;
        font-size: 24px;
        color: white;

    }