.plans {
    background-color: var(--background-color);
    padding: 4px 40px 40px 40px;
}

@media (max-width: 400px) {
    .plans {
        padding: 0;
    }
}
.plans__title {
    font-family: 'Kanit', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: var(--ui-title-color);
    text-align: center;
}

.plans__choose {
    font-size: 19px;
    font-weight: 500;
    color: var(--additional-text-color);
    text-align: center;
    margin-top: 25px;
}

.discount__timer {
    padding-top: 25px;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--ui-title-color);
    text-align: center;
}

.discount__offer {
    color: var(--text-ui-brand-color);
    padding-right: 20px;
}

.discount__timer p {
    display: inline;
    padding-right: 10px;
}

.plans__types {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .plans__types {
        flex-direction: column;
        margin: 0;
    }
}

@media (max-width: 1193px) {
    .plans__types {
        gap: 45px;
    }
}

.plan__type {
    background-color: var(--additional-background-color);
    margin-left: 15px;
    margin-right: 15px;
    padding: 50px 30px 50px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

@media (max-width: 400px) {
    .plan__type {
        padding: 0;
    }
}

@media (max-width: 860px) {
    .plan__type {
        margin: 0;
    }
}

.plan__title {
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--text-color);
}

.plan__price {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-ui-brand-color);
    margin-top: 20px;
}

.plan__price-detail {
    color: var(--ui-title-color);
}

.plan__intensity {
    font-size: 14px;
    font-weight: 500;
    color: var(--additional-p-color);
    margin-top: 25px;
}
.plan__details {
    margin-top: 20px;
}

.plan__details .plan__detail{
    list-style: none;
}

.plan__detail {
    color: var(--text-color);
    margin-bottom: 16px;
    display: flex;
}

.circle__check {
    width: 20px;
    height: 24px;
    margin-right: 10px;
}
.select__plan {
    font-size: 14px;
    font-weight: 700;
    color: var(--button-text-color);
    background-color: var(--text-ui-brand-color);
    cursor: pointer;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 44px;
}

.right__arrow {
    width: 24px;
    height: 24px;
}

.modal__window-pricing {
    display: none;
    position: fixed;
    z-index: 2;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--background-modal-color);
}

.window__pricing-content {
    background-color: var(--button-text-color);
    margin: 20px auto;
    padding: 5px 60px 25px 60px;
    border: 1px solid var(--additional-background-color);
    min-width: 340px;
    width: 40%;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.window__pricing-content h2 {
    padding-top: 10px;
    color: var(--ui-title-color);
    font-family: 'Kanit', sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.window__pricing-content p {
    color: var(--additional-text-color);
    font-size: 19px;
    font-weight: 500;
}

.window__pricing-content form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pricing__contact {
    background-color: var(--additional-background-modal-color);
    border-width: 0;
    color: var(--additional-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 26px 15px 26px;
    cursor: text;
}

.close__window-pricing {
    color: var(--text-ui-brand-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-self: flex-end;
}

.close__window-pricing:hover,
.close__window-pricing:focus {
    cursor: pointer;
}

.pricing__contact-send {
    background-color: var(--text-ui-brand-color);
    color: var(--button-text-color);
    padding: 15px 26px 15px 26px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 750px) {
    .window__pricing-content {
        width: 90%;
    }
}

@media (max-width: 850px) {
    .window__pricing-content {
        width: 80%;
    }
}

@media (max-width: 1300px) {
    .window__pricing-content {
        width: 50%;
    }
}