.plans {
    background-color: var(--background-color);
}
.plans__title {
    font-family: 'Kanit', sans-serif;
    font-size: 38px;
    color: var(--ui-title-color);
    text-align: center;
}

.plans__choose {
    font-size: 19px;
    color: var(--additional-text-color);
    text-align: center;
}

@media (min-width: 500px) {
    .plans__types {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

@media (min-width: 700px) {
    .plans__types {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    .plans__types {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.plan__type {
    background-color: var(--additional-background-color);
    padding: 0 15px 0 15px;
    border: 5px solid var(--background-color);
}

.plan__title {
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    color: var(--text-color);
}

.plan__price {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: var(--text-ui-brand-color);
}

.plan__price-detail {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    color: var(--ui-title-color);
}

.plan__intensity {
    font-size: 14px;
    color: var(--additional-p-color);
}

.plan__details {
    list-style: none;
}

.plan__detail {
    color: var(--text-color);
}
.circle__check {
    width: 20px;
    height: 24px;
    display: inline;
}
.select__plan {
    font-size: 14px;
    color: var(--button-text-color);
    background-color: var(--text-ui-brand-color);
    cursor: pointer;
}
.right__arrow {
    width: 24px;
    height: 24px;
    display: inline;
}