section.start__class {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    background-color: #191919;
    margin: 0;
    padding: 80px 0px 80px 0px;
}

.start__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}
.start__carousel{
    display: flex;
    justify-content: space-b  etween;
    align-items: center;
}
.start__carousel-slides{
    min-height: 400px;
}
.start__slide{
    width: 50%;
    margin: auto;
}
.start__photo img {
    object-fit: contain;
    object-position: 50% 50%;
    object-fit: contain;
}
.start__content {
    font-family: 'Kanit', sans-serif;
    text-align: left;
}
.start__title {
    font-size: 38px;
    color: var(--ui-title-color);
    text-transform: uppercase;
}
.start__subtitle {
    font-size: 19px;
    color: var(--additional-text-color);
}
.start__paragraph-title {
    color: var(--text-ui-brand-color);
    text-transform: uppercase;
    font-size: 24px;
}
.start__paragraph-text {
    color: var(--text-color);
    font-size: 17px;
}
.start__paragraph-link {
    color: var(--text-ui-brand-color);
    font-size: 17px;
}

@media (max-width: 765px) {
    .start__div {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 24px;
    }

    .start__photo img {
        width: 100%;
        height: auto;
    }
}